<!-- Renders the About Page -->
<%= stylesheet_link_tag 'static_pages' %><!--use static_pages.css to style this view-->

<!--<% provide(:title, "About") %>-->
<h1>About</h1>
<h2 id="about-subtitle1">A Community Directory</h2>
<p>
  Since 2006, Cornerstone Community Development Corporation compiles, publishes, and distributes a directory
  of community business and organizations, entitled the <strong>Affinity Business Directory</strong>. What makes this directory
  unique is that it is comprised of establishments that come highly recommended.Yes! Word of mouth recommendations of
  businesses and organizations that have been used and touted by consumers in the community.
  It is published annually. You can request a copy via email at info@cdccornerstone.org
</p>
  <h2 id="about-subtitle2">We have evolved</h2>
<p>
  Starting this year, the directory has moved online, as the <strong>Affinty Direct</strong> web application.
  This web application has a social media vibe which helps to engender a sense of community and that is what it is all about 
  <em>Community</em>. Patrons can support their community establishments and the local economy. Patrons can rate an establishment,
  post comments, and upload pics.
</p>