<!--<% provide(:title, "Contact") %>-->
<h1>Contact</h1>
<p>
  Contact the Cornerstone Community Development Corporation
  about the Affinity Direct app or the Affinity Community Directory at the
  <a href="http://www.cdccornerstone.org/Contact-Us">contact page</a>.
</p>