<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
<p>
  <a href="http://rails-tutorial-kayceejjay.c9users.io/static_pages/about" class="button">About</a>
  <a href="http://rails-tutorial-kayceejjay.c9users.io/static_pages/home" class="button">Home</a>
  <a href="http://rails-tutorial-kayceejjay.c9users.io/static_pages/help" class="button">Help</a>
</p>