<% provide(:title,"Home") %>
<h1>Sample App</h1>
  <p>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>
  <p>
    <a href="http://rails-tutorial-kayceejjay.c9users.io/static_pages/about" class="button">About</a>
    <a href="http://rails-tutorial-kayceejjay.c9users.io/static_pages/contact" class="button">Contact</a>
    <a href="http://rails-tutorial-kayceejjay.c9users.io/static_pages/help" class="button">Help</a>
  </p>