<footer class="footer">
  <small>
    Copyright &copy 2018<a href="http://www.cdccornerstone.org/"> | Cornerstone Community Development Corporation. All rights reserved.</a>
    | Powered by <a href="http://www.techhandie.com/">TechHandie Corp.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.cdccornerstone.org/Community-News">News</a></li>
    </ul>
  </nav>
</footer>